* {
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

.header {
    /* display: flex;
    justify-content: space-between; */
    margin: 40px 0 80px 40px;
}

.companies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.companies-container img {
    height: 40vh;
    margin: 0 10px;
}

.header img {
    width: 15%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 50px 40px 0 40px;
    /* background-color: tan; */
}

@media (max-width: 720px) {
    .companies-container img {
      width: 35vh;
      height: auto;
      margin-bottom: 10px;
    }

    h1 {
        font-size: 180%;
    }

    .header img {
        width: 30%;
    }
  }